---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---


\begin{itemize}
    \item Proceedings of the Thirteenth International Conference on Learning Representations (ICLR), 24-28 April 2025, Singapore. Online Oral Talk \& Poster: {Continuity-preserving autoencoders for learning continuous latent dynamical models from images}.
    
    \item The Faculty of Science 95 Anniversary Symposium, 28 Sep. 2024, Singapore. Poster: \textit{DynGMA: a robust approach for learning stochastic differential equations from data}. 
    
    \item The China conference on Scientific Machine Learning (CSML), 9 - 11 Aug. 2024, Shanghai, China. Oral Talk: \textit{Learning differential equations from data}.
    
    \item AI for Science and Nobel Turing Challenge Initiative (AI4Sci/NTCI) Conference, 23 - 24 July 2024, Singapore. Poster: \textit{Learning stochastic differential equations from data}.    
    
    \item International Conference on Scientific Computation and Differential Equations (SciCADE), 15 - 19 July 2024, Singapore. Oral Talk: \textit{Learning stochastic differential equations from data}.

    \item  39th International Conference on Machine Learning (ICML), 17 - 23 July 2022, Baltimore, Maryland, {USA}. Online Oral Talk \& Poster: \textit{On numerical integration in neural ordinary differential equations}.
    


\end{itemize}

<!-- {% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %} -->

<!-- {% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %} -->
