---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---
- Fall 2020: TA, Mathmatical Analysis A, University of Chinese Academy of Sciences.

- Spring 2020: TA, Mathmatical Analysis A, University of Chinese Academy of Sciences.

- Fall 2017: TA, Mathmatical Analysis B, University of Science and Technology of China.

- Spring 2017: TA, Mathmatical Analysis B, University of Science and Technology of China.

<!-- {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->
